* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    max-width: 320px;
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1A1B21;
}

.container {
    padding: 0 2rem;
}

/* INFO */

.profile-pic {
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

h1 {
    color: white;
    margin: 1.25rem 0 0;
    font-size: 1.5rem;
}

.role {
    color: #F3BF99;
    margin: .1rem 0 0;
    font-size: .75rem;
}

.portfolio-link {
    color: rgb(105, 105, 105);
}

.portfolio {
    color: #F5F5F5;
    margin: .5rem 0 0;
    font-size: .6rem;
}

/* INFO BUTTONS */

.buttons {
    margin: 1rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
}

button {
    width: 7.5rem;
    outline: none;
    border: none;
    border-radius: .25rem;
    padding: .7rem 1.75rem;
    box-sizing: border-box;
    font-size: .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.em-btn {
    color: #374151;
    background-color: #D1D5DB;
}

.em-btn:hover {
    background-color: white;
    cursor: pointer;
}

.li-btn {
    color: white;
    background-color: #5093E2;
}

.li-btn:hover {
    background-color: #4698f7;
    cursor: pointer;
}

/* ABOUT & INTERESTS */

h2 {
    color: #F5F5F5;
    font-size: 1rem;
    margin-bottom: .25rem;
}

.text-detail {
    color: #DCDCDC;
    font-size: .7rem;
    margin: 0 0 1.5rem;
}